#index-white-banner
  .row
    -if user_signed_in?
      .container.m-t-20
        %h2{class: "header text_b"}
          =link_to product_work_trackers_path do
            Groups
          / Modal Trigger
          %a.modal-trigger.waves-effect.waves-light.btn{:href => "#modal1"} Modal
        -@groups.each do |group|
          .col.s12.m4.l4
            .card
              .card-image.waves-effect.waves-block.waves-light
              .card-content
                %span.card-title.activator.grey-text.text-darken-4
                  = link_to sanitize(group.name),product_work_tracker_path(group.id)
                  %i.mdi-navigation-more-vert.right
                %p= link_to 'View',product_work_tracker_path(group.id)
              .card-reveal
                %span.card-title.grey-text.text-darken-4
                  = link_to sanitize(group.name),product_work_tracker_path(group.id)
                  %i.mdi-navigation-close.right
                = sanitize group.description
      / Modal Structure
      =form_for current_user.groups.build,url: product_work_trackers_path,method: :post do |f|
        #modal1.modal.modal-fixed-footer
          .modal-content
            %h4 Create Group
            .input-field.col.s6
              %i.mdi-action-account-circle.prefix.white-text
              = f.text_field :name, id: "icon_prefix",class: "validate white-text"
              %label.white-text{:for => "icon_prefix"} Group Name
            .input-field.col.s6
              %i.mdi-action-account-circle.prefix.white-text
              = f.text_field :description, id: "icon_prefix",class: "validate white-text"
              %label.white-text{:for => "icon_prefix"} Decrription

          .modal-footer
            =f.submit "Save",class: " modal-action modal-close waves-effect waves-green green btn-flat"
            %a.modal-action.modal-close.waves-effect.waves-green.red.btn-flat{:href => "#!"} Close
      :javascript
        $('.modal-trigger').leanModal({
          dismissible: true, // Modal can be dismissed by clicking outside of the modal
          opacity: .5, // Opacity of modal background
          in_duration: 300, // Transition in duration
          out_duration: 200, // Transition out duration
          ready: function() {  }, // Callback for Modal open
          complete: function() { } // Callback for Modal close
        });
    -else
      .container
        %h2 Log in
        -resource = User.new
        -resource_name="user"
        .boxed
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .field
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true
            .field
              = f.label :password
              %br/
              = f.password_field :password, autocomplete: "off"
            .field
              = f.check_box :remember_me
              = f.label :remember_me
            .actions
              = f.submit "Log in",class: "btn waves-effect waves-light blue darken-1"