= form_for @blog||Blog.new,html: {class: "full"} do |form|
  %h5.m-t-10
    Header
  .m-t-10
  = form.cktext_area :header, :class => 'someclass',:value => 'Header', :ckeditor => {:uiColor => '#FFFFFF',:language => 'uk', :toolbar => 'mini'}
  .m-t-40
  %h5.m-t-10
    Sub header
  .m-t-10
  = form.cktext_area :sub_header, :value => 'Sub header', :id => 'sometext'  , :ckeditor => {:uiColor => '#FFFFFF',:language => 'uk', :toolbar => 'mini'}
  .m-t-40
  %h5.m-t-10
    Content
  .m-t-10
  = form.cktext_area :blog_content,:value => 'Blog content', :cols => 40, :ckeditor => {:uiColor => '#FFFFFF', :toolbar => 'mini'}
  .m-t-10
  .field
    = form.check_box :publish
  .m-t-10
  = form.submit :save,class: "btn waves-effect waves-light blue darken-1"