%section#two.wrapper.style2.special
  .inner.narrow
    %header
      %h2
        Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name),class: 'grid-form') do |f|
      = devise_error_messages!
      .form-control
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true
      .form-control
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "off"
      .form-control
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off"
      .actions
        = f.submit "Sign up"
    = render "devise/shared/links"