<% content_for :title do %>
    dimoMohit
<% end %>
<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span>I Love</span> 
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">Ruby</b>
                <b>NodeJS</b>
                <b>Ruby on Rails</b>
                <b>js</b>
                <b>to Develop</b>
            </span>
        </h1>
    </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"> My Focus is on</h2>
            </div>
            <div class="clear-both"></div>
            <div class="m-t-30"></div>
            <div class="clear-both"></div>
            <div  class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-image-flash-on"></i>
                    <h5 class="promo-caption">Fast and Secure development</h5>
                    <p class="light center"></p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-social-group"></i>
                    <h5 class="promo-caption">User Experience</h5>
                    <p class="light center"></p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-hardware-desktop-windows"></i>
                    <h5 class="promo-caption">Fully responsive</h5>
                    <p class="light center"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Work-->
<div class="section scrollspy" id="work">
    <div class="container">
        <h2 class="header text_b">Work </h2>
        <div class="row">
            <% @projects.each do |project| %>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                       
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><%= link_to sanitize(project.name),project.url %> <i class="mdi-navigation-more-vert right"></i></span>
                        <p><%= link_to 'View',project.url %></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><%= link_to sanitize(project.name),project.url %> <i class="mdi-navigation-close right"></i></span>
                        <%= sanitize project.description %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
<!--Work-->
<div class="section scrollspy" id="product">
    <div class="container">
        <h2 class="header text_b">Products </h2>
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                       
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><%= link_to "Work tracker",product_work_trackers_path %> <i class="mdi-navigation-more-vert right"></i></span>
                        <p><%= link_to 'View',product_work_trackers_path %></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><%= "Work tracker" %> <i class="mdi-navigation-close right"></i></span>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--Parallax-->
<div class="parallax-container" id="team">
    <div class="container">
        <h2 class="header text_b">
            <%= link_to blogs_path do %>
                Latest Blogs 
            <% end %>
        </h2>
        <div class="row">
            <% @blogs.each do |blog| %>
                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                           
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4"><%= sanitize blog.header %><i class="mdi-navigation-more-vert right"></i></span>
                            <p><%= link_to 'Blog link', blog_path(blog) %></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><%= sanitize blog.header %> <i class="mdi-navigation-close right"></i></span><p>
                            This blog is related to 
                            <%= sanitize blog.sub_header %></p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>