<!DOCTYPE html>
<html>
<head>
  <title><%= (content_for?(:title) ? yield(:title) : "dimoMohit") %></title>
  <link href='<%=asset_path("logo.png")%>' rel = "shortcut icon"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta content="width=device-width, initial-scale=1" name ="viewport" />
  <meta charset="utf-8">
  <meta name="Description" CONTENT="Author: Mohit, Illustrator: Developer, Category: Web developer | Blogs on Ruby on Rails | Ruby on Rails | Ruby |Rubygem">
  <meta name="google-site-verification" content="L27h8fqLyez2syG85disUmfEZdLOXOZKCiQHhtFMwYM" />
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true,cache: true %>
</head>
<body>
  <!-- Pre Loader -->
  <div id="loader-wrapper">
    <div id="loader"></div>
  <!--Navigation-->
  <div class="navbar-fixed">
      <nav id="nav_f" class="default_color" role="navigation">
          <div class="container">
            <div class="nav-wrapper">
              <%= link_to "/",class: "brand-logo #{is_current_page(root_url)}",id: "logo-container" do %>
                <%= image_tag "logo.png",width: "200" %>
              <% end %>
              <ul class="right hide-on-med-and-down">
                  <% if user_signed_in? && current_user.is_admin %>
                  <li>
                    <%= link_to "Observer",rails_admin_path,class: "links" %>
                  </li>
                  <% end %>
                  <li>
                    <%= link_to "Focus","/#intro",class: "links" %>
                  </li>
                  <li>
                    <%= link_to "Work","/#work",class: "links" %>
                  </li>
                  <li>
                    <%= link_to "Product","/#product",class: "links" %>
                  </li>
                  <li>
                    <%= link_to "Blog",blogs_path,class: "links #{is_current_page(blogs_url)}" %>
                  </li>
                  <li>
                    <%= link_to "Contact","/#contact",class: "links" %>
                  </li>
                  <% if user_signed_in? %>
                    <li>
                      <%= link_to "Logout",destroy_user_session_path,method: :delete,class: "links" %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to "Login",new_user_session_path,class: "links" %>
                    </li>
                  <% end %>
              </ul>
              <ul id="nav-mobile" class="side-nav">
                <% if user_signed_in? && current_user.is_admin %>
                  <li>
                    <%= link_to "Observer",rails_admin_path,class: "links" %>
                  </li>
                <% end %>
                <li>
                  <%= link_to "Focus","/#intro",class: "links" %>
                </li>
                <li>
                  <%= link_to "Work","/#work",class: "links" %>
                </li>
                <li>
                  <%= link_to "Product","/#product",class: "links" %>
                </li>
                <li>
                  <%= link_to "Blog",blogs_path,class: "links" %>
                </li>
                <li>
                  <%= link_to "Contact","/#contact",class: "links" %>
                </li>
                <% if user_signed_in? %>
                  <li>
                    <%= link_to "Logout",destroy_user_session_path,method: :delete,class: "links" %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to "Login",new_user_session_path,class: "links" %>
                  </li>
                <% end %>
              </ul>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
          </div>
      </nav>
  </div>

  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
 
  </div>
  <div class="container">
    <% if notice %>
    <p class="notice alert alert-success"><%= notice %></p>
    <%end %>
    <% if alert %>
      <p class="alert alert alert-error"><%= alert %></p>
    <%end %>
  </div>
  <%= yield %>
  <!--Footer-->
  <footer id="contact" class="page-footer default_color scrollspy">
      <div class="container">  
          <div class="row">
              <div class="col l6 s12">
                  <%= form_for Message.new,class: "col s12" do |f| %>
                      <div class="row">
                          <div class="input-field col s6">
                              <i class="mdi-action-account-circle prefix white-text"></i>
                              <%= f.text_field :name, id: "icon_prefix",class: "validate white-text" %>
                              <label for="icon_prefix" class="white-text">First Name</label>
                          </div>
                          <div class="input-field col s6">
                              <i class="mdi-communication-email prefix white-text"></i>
                              <%= f.text_field :email, id: "icon_email",class: "validate white-text"%>
                              <label for="icon_email" class="white-text">Email-id</label>
                          </div>
                          <div class="input-field col s12">
                              <i class="mdi-editor-mode-edit prefix white-text"></i>
                              <%= f.text_area :msg, id: "icon_prefix2",class: "materialize-textarea white-text" %>
                              <label for="icon_prefix2" class="white-text">Message</label>
                          </div>
                          <div class="col offset-s7 s5">
                              <%= f.submit :submit, class: "btn waves-effect waves-light red darken-1" do %>
                                  
                              <% end %>
                          </div>
                      </div>
                  <% end %>
              </div>
              
              <div class="col l2 s12 right">
                  <h5 class="white-text">Social</h5>
                  <ul>
                      
                      <li>
                          <a class="white-text" href="https://www.facebook.com/mohit.dutta3">
                              <i class="small fa fa-facebook-square white-text"></i> Facebook
                          </a>
                      </li>
                      <li>
                          <a class="white-text" href="https://github.com/DimoMohit">
                              <i class="small fa fa-github-square white-text"></i> Github
                          </a>
                      </li>
                      <li>
                          <a class="white-text" href="https://in.linkedin.com/pub/mohit-kumar/59/6b1/ab0">
                              <i class="small fa fa-linkedin-square white-text"></i> Linkedin
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true,cache: true,async: true %>
</body>
</html>
