!!!
%html
  %head
    %title UserTask
    %meta{:charset => "utf-8"}
    %meta{"http-equiv"=>"X-UA-Compatible" ,:content=>"IE=edge"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    /[if lte IE 8]
      =javascript_include_tag 'ie/html5shiv',cache: true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true,cache: true
    = csrf_meta_tags
    /[if lte IE 9]
      =stylesheet_link_tag    'ie9', media: 'all', 'data-turbolinks-track' => true,cache: true
  %body
    
    / Header
    %header#header.alt
      %h1
        =link_to 'UserTask',root_path
      =link_to "Menu",'#nav'
    / Nav
    %nav#nav
      %ul.links
        %li
          =link_to 'Home',root_path
        -if current_user && current_user.is_admin
          %li
            =link_to 'Observer',rails_admin.dashboard_path
          %li
            =link_to 'Create Task',new_task_path
        -if current_user
          %li
            =link_to 'Tasks',tasks_path
        -else
          %li
            =link_to 'Sign Up',new_user_registration_path
          %li
            =link_to 'Login',new_user_session_path
    - flash.each do |name, msg|
      -flash_name = (name!='error' ? name : 'danger')
      = content_tag :div, msg, :id => "flash_#{flash_name}",class: "alert alert-dismissible alert-#{flash_name} m-t-50"
      .clear_both
    .clear_both 
    = yield
    %section.header
    - if Rails.env == 'development'
      = javascript_include_tag 'application',cache: true
    -else
      = javascript_include_tag 'application',cache: true,async: true